body,
html{
  margin: 0;
}
.div-nav{
  position :absolute;
  width: 100%;
}

.div-header{
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  
}
.div-header1{
  display: flex;
  width: 70%;
  height: 100%;
  align-items: center;
  background-image: url("https://esdi.es/wp-content/uploads/2018/03/pexels-photo-245208-700x505.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
}

.div-header2{
  background-color: beige;
  width: 30%;
  background-color: rgb(243, 214, 216);
  height: 100%;
}

.div-header3{
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-left: 60%;
  background-color: aqua;
  background-color: rgb(241, 237, 192);
  width: 30%;
  height: auto;
  justify-content: left;
  padding: 25px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  
}


.div-header3 h1 {
  color: rgb(78, 82, 83);
  font-family:  Georgia, 'Times New Roman', Times, serif;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 70%;
  
  font-size: 60px;
}
.div-header3 p{
  color: gray;
}

.btn-arrow{
  display: flex;
  justify-content: end;
  color: rgba(0, 0, 0, 0.65);
  align-items: center;
  gap: 5px;
  width: 100%;
  position: relative;
}
.btn-arrow button{
  gap: 5px;
}


